* {
  box-sizing: border-box; }

body {
  background-color: #171C28;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container {
  margin: 0 auto;
  width: 90%; }

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }

.logo {
  margin-left: 5%; }

.nav-links {
  position: absolute;
  width: 100%;
  background: #444444;
  top: 30px;
  display: none; }

.nav-links li {
  text-align: center;
  margin: 40px auto;
  font-family: 'Quicksand', sans-serif; }

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 300; }

#mobile-nav-toggle {
  position: absolute;
  margin-right: 5%;
  top: 2px;
  right: 10px;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 2000; }
  #mobile-nav-toggle span {
    display: block;
    position: absolute;
    border: 1px solid white;
    width: 100%;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
  #mobile-nav-toggle span:nth-child(1) {
    top: 0px; }
  #mobile-nav-toggle span:nth-child(2) {
    top: 10px; }
  #mobile-nav-toggle span:nth-child(3) {
    top: 20px; }

#mobile-nav-toggle.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg); }

#mobile-nav-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#mobile-nav-toggle.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg); }

.nav-links.mobile-control {
  display: block;
  animation: booble 0.4s ease-in; }

@keyframes booble {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0.8; } }

@media screen and (min-width: 768px) {
  #mobile-nav-toggle {
    display: none; }
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px; }
  .logo {
    margin-left: 0; }
  .nav-links {
    display: flex;
    position: static;
    background: none;
    justify-content: space-between;
    width: 40%; }
  .nav-links li {
    margin: 0; }
  .nav-links a {
    font-size: 0.8em; } }

/* ================
====== HERO =======
==================== */
#hi {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.hi-content h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: #0055FF; }

.strong-span {
  font-weight: 900;
  font-family: 'Inconsolata', monospace;
  color: #0055FF; }

.hi-content h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 27px;
  letter-spacing: 2px;
  color: whitesmoke;
  margin-top: 10%; }

.hi-content p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 0.7em;
  color: whitesmoke;
  margin-top: 10%; }

@media screen and (min-width: 880px) {
  .hi-content {
    width: 60%; } }

@media screen and (min-width: 1240px) {
  .hi-content {
    width: 50%; } }

.email {
  color: whitesmoke;
  padding: 3px;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #0055FF;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }

.email:hover {
  color: #e2e2e2;
  box-shadow: inset 0 -22px 0 #0055FF; }

footer {
  display: flex;
  flex-direction: column;
  align-self: flex-end; }

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px; }

footer li {
  display: inline-block;
  list-style: none; }

footer p {
  font-family: "Inconsolata", monospace;
  font-size: 0.8em;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px; }

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between; }
  footer ul {
    order: 2;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    margin: 0; }
  footer p {
    order: 1; } }
