footer ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

footer li {
  display: inline-block;
  list-style: none;
}

footer p {
  font-family: "Inconsolata", monospace;
  font-size: 0.8em;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 30px;
}