* {
  box-sizing: border-box;
}

body {
  background-color: #171C28;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 90%;
}

